h1 {
    
    color: rgb(249, 220, 203)
}

h2 {
    color: rgb(129, 66, 55)
}

h3 {
    color: rgb(77, 107, 171)
}

h4 {
    color: rgb(215, 121, 184)
}

h5 {
    color: rgb(28, 10, 16)
}

/* body{
    background-color: rgb(247, 0, 214);
} */